@font-face {
  font-family: "MS Sans Serif";
  src: url("/public/fonts/ms-sans-serif.ttf");
}

body, button {
  font-family: "MS Sans Serif", sans-serif;
  color: black;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 128, 127);
  user-select: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  border-radius: unset;
  border-width: 3px;
  border-style: solid;
  border-color: white rgb(44, 44, 44) rgb(44, 44, 44) white;
  background-color: rgb(195, 195, 195);

  img {
    width: 2.25rem;
    height: 2.25rem;
  }
}

button:hover {
  cursor: pointer;
}